.klausurItem {
  position: relative;
  font-size: 0.8em;
  font-family: hsdFont, serif;
}
.klausurplan {
  z-index: 5;
}
.fs-7 {
  font-size: 0.89em;
}
.rounded-4 {
  border-radius: 0.4rem;
}
button {
  border: none;
}
.head-title {
  position: relative;
  z-index: 550;
  font-size: 0.8em;
}
.klausurplan-bg {
  position: relative;
  z-index: 0;
  font-family: hsdFont, serif;
  transform: rotateZ(90deg) scale(5);
}
.klausurplan-bg-end {
  z-index: 0;
  position: absolute;
  margin-top: 20%;
  right: 0;
}
@media screen and (min-width: 900px) {
  .klausurplan-bg-end {
    margin-top: 0;
  }
}
.klausurItem .bi-bookmark-star-fill {
  color: rgba(255, 255, 255, 0.4);
  font-size: 2em;
}
.hsd-font {
  font-family: hsdFont, serif;
  font-size: 0.9em;
}
.triangle {
  color: rgba(220, 53, 69, 0.7);
}
.fs-0 {
  font-size: 3em;
}
.input-item-input {
  border: 0;
  width: 100%;
}

.dark {
  .input-item-input {
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid transparent;
    background-color: rgba(255, 255, 255, 0.2);
  }
  option {
    background-color: #292929;
  }
  input:focus {
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.3);
    outline: none;
  }
  .klausurItem {
    color: #ffffff;
    background-color: #292929;
  }
  .klausurItem .bi-bookmark-star-fill {
    color: rgba(255, 255, 255, 0.4);
    font-size: 2em;
  }
  .head-title {
    color: rgba(255, 255, 255, 0.4);
  }
  .highlight-color {
    color: #10e8b3 !important;
  }
  .klausurplan-bg-end {
    color: rgba(255, 255, 255, 0.06);
  }
}
.light {
  .input-item-input {
    border: 1px solid black;
    background-color: rgba(41, 41, 41, 0.05);
  }
  input:focus {
    border: 1px solid var(--hsd-red) !important;
    background-color: rgba(230, 0, 40, 0.1);
    outline: none;
  }
  select {
    color: var(--text-light);
  }
  .klausurplan {
    background: var(--background-light);
  }
  .klausurplan-bg-end {
    color: rgba(0, 0, 0, 0.06);
  }
  .klausurItem {
    color: var(--text-light);
    background-color: #ffffff;
    border: 1.3px solid var(--text-light);
  }
  .head-title {
    color: rgba(0, 0, 0, 0.5);
  }
  .highlight-color {
    border-color: var(--hsd-red);
    color: var(--hsd-red) !important;
  }
  .klausurItem .bi-bookmark-star-fill {
    color: rgba(0, 0, 0, 0.5);
    font-size: 2em;
  }
}
