.side-text {
  font-family: hsdFont, serif;
  font-size: 3em;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  position: fixed;
  right: -0.4em;
  z-index: 2;
  height: 100%;
}

.divider {
  border-bottom: 1.5px solid var(--ghost-white);
  width: 70%;
  padding-top: 0.4em;
  margin-left: auto;
  margin-right: auto;
}
.head-logo {
  height: 10em;
}
.startpage {
  background-color: var(--hsd-red);

  .header {
    background-color: var(--hsd-red);
    position: relative;
    z-index: 110;
  }

  .rounded-top {
    border-top-left-radius: 2em !important;
    border-top-right-radius: 2em !important;
  }

  .header-img {
    padding: 0.7em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
  }

  .content {
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    font-family: hsdFont, serif;
    font-size: large;

    @media (max-width: 576px) {
      font-size: smaller;
    }

    @media (max-width: 768px) {
      font-size: small;
    }

    .heading {
      color: gray;
      font-size: smaller;
      padding-bottom: 0;
      margin-bottom: 0;
    }

    a {
      position: relative;
      z-index: 550;
      margin-bottom: 0;
      color: var(--hsd-red);
    }

    p {
      position: relative;
      z-index: 550;
    }

    .left {
      float: left;
    }

    .right {
      float: right;
    }

    .col-10 {
      margin-bottom: 1.5em;
    }
  }
}
.light .startpage {
  .background {
    height: 100%;
    background-color: var(--background-light);
  }
  .side-text {
    color: rgba(0, 0, 0, 0.06);
  }
}
.dark .startpage {
  .background {
    background-color: var(--background-dark);
  }
  .side-text {
    color: rgba(255, 255, 255, 0.03);
  }
}
